body{
    font-family: 'Trebuchet MS';
    font-weight: bolder;
    margin:0;
    background-color:#fcf9ea;

}
nav a{
    display:inline-block;
    text-decoration: none;
    padding:1% 5%; 
    color:#fcf9ea;
}
nav a:hover{
    background-color:#fcf9ea;
    color:#202040;
    transition-duration: 0.3s;
}
nav{
    background-color:#202040;
    text-align: center;
}
.btn{
    font-size:150%;
    border-radius: 7px;
    background-color: #202040;
    color:#fcf9ea;
    border:2px solid  #202040;
}
.btn:hover{
    background-color:#fcf9ea;
    color:#202040;
    transition-duration: 0.3s;
}
input[type=text]{
    border:none;
    background-color: #202040;
    color:white;
    width:70%;
    font-size:120%;
}
.cpyr{
    position: fixed;
    bottom:0;
    width:100%;
    background-color:#202040;
    color:white;
    
}