/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 2, 2019, 2:30:15 PM
    Author     : urk17cs239
*/
*{
    margin:0;
   
}
body{
    background-color:gray;
}
header{
   
    text-align:center;
    font-family: monospace;
    color:white;
}
.headtext{
    font-size:3em;
    padding:20px;
    text-shadow: 3px 5px black;
}
.head{
     background-color:#407088;
}
.navbar{
    text-align: center;
}
nav{
    background-color:#b6ffea;
    padding:0.7%
}
ul{
    list-style-type: none;
    padding:0;
}
ul a{
   text-decoration: none;
   padding: 0.7%  30px;
   height: 100%;
}
ul a:hover{
    opacity:0.4;
    background-color: #407088;
    color:white;
    transition:0.5s;
}
li{
    
    display:inline;
    padding: 100px;
}
.banner{
    margin-top:2%;
    background-image:url("bb.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    
}
.parainbanner{
    font-size: 1.5rem;
    font-family: 'Ariel';
    padding: 2.5% 10%;
   
    background-color:rgba(0,0,0,0.5);
    color:white;
    

}
.banner-para{
    padding:2%;
}
.tb div{
  margin:2%;
 display: inline-block;
}
.tb{
    margin:2% 0;
    background-color:#407088;
    text-align: bottom;
}
.tb1{
    display:inline-block;
    background-image: url('tb1.jpg');
    width: 480px;
    height:300px;
    background-position: center center;
    text-align: center; 
}
.tb2{
    display:inline-block;
    background-image: url('tb2.jpg');
    width: 480px;
    height:300px;
    background-position: center center;
    text-align: center; 
}
.tb3{
    display:inline-block;
    background-image: url('tb3.jpg');
    width: 480px;
    height:300px;
    background-position: center center;
    text-align: center;
}
.tpara{
    padding:5%;
    background-color: rgba(0,0,0,0.8);
    color:white;
}
